<link rel="stylesheet" href="./c16-job-openings.scss">
<script src="./C16JobOpenings.ts"></script>

  <section id="{{id}}" class="c16-job-openings" data-component="c16-job-openings" data-scroll-component data-endpoint="{{endpoint}}" data-search="{{search-enabled}}" data-content-type="{{type}}">
    <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <div class="block-content-wrapper">
      <div class="title-wrapper">
        {{> general/heading title class="heading-2 highlight" data-attr="transition-item" }}
        <div class="filters-wrapper">
          {{#if locations}}{{> form-elements/custom-select data="data-office-select data-transition-item" translation=location-default }}{{/if}}
          {{#if departments}}{{> form-elements/custom-select data="data-department-select data-transition-item" translation=departments-default }}{{/if}}
        </div>
      </div>
      <div class="loader-wrapper">
        <div class="loading-animation" data-loader>
          {{> general/icon name="spinner" }}
        </div>
      </div>
      <div class="no-results" data-no-results>
        {{no-results}}
      </div>
      <div class="jobs-wrapper" data-jobs-wrapper>
        <ul class="jobs-list" data-jobs-list></ul>
      </div>
      <div class="copy-wrapper" data-copy-wrapper>
        {{{copy}}}
      </div>
    </div>
  </div>
</section>
