<link rel="stylesheet" href="./c06-visual-cards.scss">
<script src="./C06VisualCards.ts"></script>

<section id="{{id}}" class="c06-visual-cards" data-component="c06-visual-cards" data-scroll-component>
  <div
    class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    {{> general/carousel-title-wrapper }}
    <div class="cards-wrapper" data-carousel-wrapper>
      <ul class="cards-list" data-carousel>
        {{#each card}}
        <li class="card" data-carousel-item>
          <a href="{{cta.href}}" class="link" title="{{cta.title}}">
            {{#if visual}}
            {{> general/picture visual class="visual-wrapper" data-attr="transition-item"}}
            {{/if}}
            <div class="color-overlay" data-transition-item></div>
            <div class="content-wrapper" data-transition-item>
              <div data-card-heading class="card-heading">
                {{> general/heading category class="heading-5 category-label"}}
                {{> general/heading title class="heading-4 card-title"}}
              </div>
              <div data-play-button class="card-button">
                {{> cta/cta-arrow cta}}
              </div>
            </div>
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
