<link rel="stylesheet" href="./cta-general-round.scss">

<{{#if tag}}{{tag}}{{else}}a{{/if}} data-component="cta-general-round" {{#if class}}class="{{class}}"{{/if}} {{#if href}}href="{{href}}"{{/if}}>
  <span class="copy cta">{{copy}}</span>
</{{#if tag}}{{tag}}{{else}}a{{/if}}>
