<link rel="stylesheet" href="./c26-product-intro.scss">
<script src="./C26ProductIntro.ts"></script>

<div data-component="c26-product-intro">
  <div class="c26-product-intro__top">
    <div class="c26-product-intro__title">
      {{> cta/cta-text headerTitle }}
      {{> general/icon name="icon-plus" }}
    </div>
    <div class="c26-product-intro__img">
      <div class="c26-product-intro__img-left copy">
        {{subTitle.main}}<span>{{subTitle.link}}</span>
      </div>
      <div class="c26-product-intro__img-icon">
        <span class="c26-product-intro__img-icon-shape"></span>
        <div class="c26-product-intro__img-icon-text">
          {{> general/icon name="icon-open" }}
          <div class="icon-text">{{open}}</div>
        </div>
      </div>
      <div class="c26-product-intro__img-view">
        <img class="c26-product-intro__product-img" src="{{topImg}}" alt="">
      </div>
    </div>
  </div>
  <div class="c26-product-intro__details">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each details}}
          <div class="swiper-slide">
            <div class="c26-product-intro__detail-item-number heading-5">{{this.number}}</div>
            <div class="c26-product-intro__detail-item-title">{{this.title}}</div>
            <div class="c26-product-intro__detail-item-subtitle">{{this.subtitle}}</div>
          </div>
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
