<link rel="stylesheet" href="./c05-self-segmentation-hero.scss">
<script src="./C05SelfSegmentationHero.ts"></script>

<div data-component="c05-self-segmentation-hero">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each swipers}}
        <div class="swiper-slide">
          {{#if this.cardWeather }}
            <div class="c05-self-segmentation-hero__title">
              <div class="c05-self-segmentation-hero__title-air">
                {{this.title}}
                <span>{{this.air}}</span>
              </div>
              <div class="c05-self-segmentation-hero__descript copy large">{{this.descript}}</div>
            </div>
            {{> general/card-weather this.cardWeather }}
          {{else}}
            <div class="c05-self-segmentation-hero__name {{#if this.btn.class}}{{this.btn.class}}{{/if}}" >{{this.name}}</div>
            {{> cta/cta-border this.btn }}
            <img class="c05-self-segmentation-hero__img {{#if this.btn.class}}{{this.btn.class}}{{/if}}" src="{{this.img}}" alt="">
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
