<link rel="stylesheet" href="./cta-gradient.scss">

<{{#if tag}}{{tag}}{{else}}a{{/if}} data-component="cta-gradient" {{#if class}}class="{{class}}"{{/if}} {{#if href}}href="{{href}}"{{/if}}>
  <span class="cta-gradient-shape"></span>
  {{> general/icon name=icon }}
</{{#if tag}}{{tag}}{{else}}a{{/if}}>
