<link rel="stylesheet" href="./info-panel.scss">
<script src="./InfoPanel.ts"></script>

<section class="info-panel is-hidden" data-component="info-panel">
  <div class="drawer" data-drawer>
    <button class="close-button" data-close-button>
      {{> general/icon name="close"}}
    </button>
    <ul class="locales-list">
      {{#each regions}}
        {{#each locales}}
        <li class="list-item" data-local-info>
          <div>
            <h3 class="hotspot-title" data-transition-element>{{name}}</h3>
            <p class="copy" data-transition-element>
              {{description}}
            </p>
            {{#if cta}}
              <div class="cta-wrapper">
              {{> cta/cta-chevron cta}}
              </div>
            {{/if}}
          </div>
          <div class="contact-info">
          <div data-transition-element>
            {{{address}}}
          </div>
          <div data-transition-element>
            <a href="{{email}}" title="{{email}}">
              {{email}}
            </a>
          </div>
        </div>
        </li>
        {{/each}}
      {{/each}}
    </ul>
  </div>
</section>
