<link rel="stylesheet" href="./c08-stats-component.scss">
<script src="./C08StatsComponent.ts"></script>

<section id="{{id}}" class="c08-stats-component" data-component="c08-stats-component" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <div class="title-wrapper" data-transition-item>
      {{> general/heading title class="heading-5 grey"}}
    </div>
    <div class="carousel-wrapper" data-carousel-wrapper>
      <ul class="statistics-list" data-carousel>
        {{#each statistic}}
        <li class="list-item" data-statistic-item data-transition-item>
          <div class="list-item-content" data-total-wrapper>
            <div class="content-wrapper" data-content-wrapper>
              {{> general/outline-icon name=icon }}
              <div class="total-wrapper" data-transition-item>
                <span>{{total}}{{figure}}</span>
                <span data-total data-value="{{total}}">0{{figure}}</span>
              </div>
              <div class="label" data-label>
                {{label}}
              </div>
            </div>
            <div class="copy-wrapper" data-copy-wrapper>
              {{copy}}
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="scrollbar-wrapper" data-scrollbar>
      <div class="scroll-knob" data-scroll-knob></div>
    </div>
  </div>
</section>
