<link rel="stylesheet" href="./cta-pill.scss">

<a href="{{link}}" class="cta cta-pill{{#if class}} {{class}}{{/if}}"{{#if new-page}} target="_blank"{{/if}}{{#if data-attr}} data-{{data-attr}}{{/if}}{{#if title}} title="{{title}}" {{/if}} data-component="cta-pill">
  <span class="heading-5 bold cta-copy">{{copy}}</span>
</a>
