<a href="{{link}}" class="job-item" title="Apply for {{title}}">
  <div class="content-wrapper">
    <div class="icon-wrapper">
      {{> general/icon name="arrow" }}
    </div>
    <div class="content">
      <h2 class="title">{{title}}</h2>
      <div class="location">{{location}}</div>
      <div class="department">{{department}}</div>
    </div>
  </div>
</a>
