<link rel="stylesheet" href="./c20-footer-sticky-block.scss">
<script src="./C20FooterStickyBlock.ts"></script>

<section id="{{id}}" class="c20-footer-sticky-block" data-component="c20-footer-sticky-block" data-scroll-component>
  <div style="position: relative">

    <div class="main-items">
      <div class="block-wrapper">
        <div class="content-wrapper">
          <div class="content">
            <span class="title copy semi-bold" data-transition-item>{{title}}</span>
            <nav>
              {{#each navigation-item}}
              <a href="{{href}}" class="heading-2 semi-bold link" title="{{title}}" data-transition-item>{{copy}}</a>
              {{/each}}
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="visual-container">
      <div class="content-wrapper">
        {{> general/picture visual class="visual-wrapper" }}
        <div class="cta-wrapper">
          {{> cta/cta-pill cta class="yellow"}}
        </div>
      </div>
    </div>

    <div class="quick-links">
      <div class="block-wrapper">
        <div class="content-wrapper">
          {{#with quick-links}}
            <span class="heading heading-5 grey title" data-transition-item>{{title}}</span>
            <nav>
              {{#each link}}
                <a href="{{href}}" class="heading heading-4 link" title="{{title}}" data-transition-item>{{copy}}</a>
              {{/each}}
            </nav>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
</section>
