<{{#if tag}}{{tag}}{{else}}a{{/if}} data-component="cta-border" {{#if class}}class="{{class}}"{{/if}} {{#if href}}href="{{href}}"{{/if}}>
  <span class="copy cta">{{copy}}</span>
  {{#if icon}}
    {{> general/icon/icon name=icon }}
  {{/if}}
</{{#if tag}}{{tag}}{{else}}a{{/if}}>
