<link rel="stylesheet" href="./style-guide.scss">
<script src="./StyleGuide.ts"></script>

<section class="style-guide" data-component="style-guide" data-scroll-component>
  <div class="block-wrapper">
    <header>
      <h1 class="heading-01">Style <em>Guide</em></h1>
      {{> general/logo className='brand-midea' }}
      {{> general/logo fill='#000' className='brand-midea' }}
    </header>
    <section class="content-section">
      <h2 class="heading-02">Colours</h2>
      <div class="content-inner-section">
        <h3 class="heading-02 inner-section-heading">Primary</h3>
        <div class="colors">
          <div class="color" data-variant="primary">
            <div class="color-swatch"></div>
            <p class="copy-01">defaultColor</p>
          </div>
        </div>
      </div>
      <div class="content-inner-section">
        <h3 class="heading-02 inner-section-heading">Primary Colors</h3>
        <div class="colors">
          <div class="color-wrapper">
            <div class="color" data-variant="blueShade1">
              <div class="color-swatch"></div>
              <p class="copy-01">blueShade1</p>
            </div>
            <div class="color" data-variant="blueShade2">
              <div class="color-swatch"></div>
              <p class="copy-01">blueShade2</p>
            </div>
          </div>
          <div class="color-wrapper">
            <div class="color" data-variant="whiteShade1">
              <div class="color-swatch"></div>
              <p class="copy-01">whiteShade1</p>
            </div>
            <div class="color" data-variant="whiteShade2">
              <div class="color-swatch"></div>
              <p class="copy-01">whiteShade2</p>
            </div>
          </div>
          <div class="color-wrapper">
            <div class="color" data-variant="grayShade1">
              <div class="color-swatch"></div>
              <p class="copy-01">grayShade1</p>
            </div>
            <div class="color" data-variant="grayShade2">
              <div class="color-swatch"></div>
              <p class="copy-01">grayShade2</p>
            </div>
          </div>
          <div class="color-wrapper">
            <div class="color" data-variant="blackShade1">
              <div class="color-swatch"></div>
              <p class="copy-01">blackShade1</p>
            </div>
            <div class="color" data-variant="blackShade2">
              <div class="color-swatch"></div>
              <p class="copy-01">blackShade2</p>
            </div>
          </div>
        </div>
        {{! <div class="colors">
          <div class="color-wrapper">
            <div class="color" data-variant="">
              <div class="color-swatch"></div>
              <p class="copy-01">Intro Section Dark</p>
            </div>
            <div class="color" data-variant="">
              <div class="color-swatch"></div>
              <p class="copy-01">Intro Section Light</p>
            </div>
            <div class="color" data-variant="">
              <div class="color-swatch"></div>
              <p class="copy-01">Intro Section Cta</p>
            </div>
          </div>
          <div class="color-wrapper">
            <div class="color" data-variant="">
              <div class="color-swatch"></div>
              <p class="copy-01">Engine Section Dark</p>
            </div>
            <div class="color" data-variant="">
              <div class="color-swatch"></div>
              <p class="copy-01">Engine Section Light</p>
            </div>
            <div class="color" data-variant="">
              <div class="color-swatch"></div>
              <p class="copy-01">Engine Section Cta</p>
            </div>
          </div> --}}
      </div>
      <div class="content-inner-section">
        <h3 class="heading-04 inner-section-heading">UI Colours</h3>
        <div class="colors">
          <div class="color" data-variant="uiError">
            <div class="color-swatch"></div>
            <p class="copy-01">uiError</p>
          </div>
          <div class="color" data-variant="textColor">
            <div class="color-swatch"></div>
            <p class="copy-01">textColor</p>
          </div>
          {{!-- <div class="color" data-variant="colorUiSuccess">
            <div class="color-swatch"></div>
            <p class="copy-01">Success</p>
          </div>
          <div class="color" data-variant="colorUiWarning">
            <div class="color-swatch"></div>
            <p class="copy-01">Warning Yellow</p>
          </div> --}}
        </div>
      </div>
      <div class="content-inner-section">
        <h3 class="heading-04 inner-section-heading">Text Colours</h3>
        <div class="colors">
          <div class="color" data-variant="whiteShade1">
            <div class="color-swatch"></div>
            <p class="copy-01">White</p>
          </div>
          <div class="color" data-variant="blackShade1">
            <div class="color-swatch"></div>
            <p class="copy-01">Black</p>
          </div>
        </div>
      </div>
      <div class="content-inner-section">
        <h3 class="heading-04 inner-section-heading">Gradient Colours</h3>
        <div class="colors">
          <div class="color" data-variant="darkBlueGradient">
            <div class="color-swatch"></div>
            <p class="copy-01">Dark Blue</p>
          </div>
          <div class="color" data-variant="lightBlueGradient">
            <div class="color-swatch"></div>
            <p class="copy-01">Light Blue</p>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section">
      <h2 class="heading-02">Typography</h2>
      <p class="copy-01">H1</p>
      {{> general/heading h1 class="heading-1" }}
      <p class="copy-01">H2</p>
      {{> general/heading h2 class="heading-2" }}
      <p class="copy-01">H3</p>
      {{> general/heading h3 class="heading-3" }}
      <p class="copy-01">H4</p>
      {{> general/heading h4 class="heading-4" }}
      <p class="copy-01">H5</p>
      {{> general/heading h5 class="heading-5" }}
      <p class="copy-01">H6</p>
      {{> general/heading h6 class="heading-6" }}
    </section>
    <section class="content-section">
      <h2 class="heading-02">Copy</h2>
      <p class="copy-01">Large</p>
      <p class="copy large">{{copy}}</p>
      <p class="copy-01">CTA current font doesn't support weight</p>
      <p class="copy cta">{{copy}}</p>
      <p class="copy-01">Standard</p>
      <p class="copy">{{copy}}</p>
      <p class="copy-01">Small</p>
      <p class="copy small">{{copy}}</p>
    </section>
    <section class="content-section">
      <h2 class="heading-02">Button</h2>
      <div class="content-inner-section">
        <p class="copy-01">cta-text</p>
        {{> cta/cta-text cta-text }}
        <p class="copy-01">cta-text add .dark-mode class</p>
        {{> cta/cta-text cta-text class="dark-mode" }}
        <p class="copy-01">cta-text add .with-dot class</p>
        {{> cta/cta-text cta-text class="with-dot" }}
        <p class="copy-01">cta-text add .active class</p>
        {{> cta/cta-text cta-text-active }}
        <p class="copy-01">cta-text left-icon</p>
        {{> cta/cta-text cta-left-icon }}
        <p class="copy-01">cta-text right-icon</p>
        {{> cta/cta-text cta-right-icon }}
        <p class="copy-01">cta-text left-right-icon</p>
        {{> cta/cta-text cta-left-right-icon }}
        <p class="copy-01">cta-text add .underline class</p>
        {{> cta/cta-text cta-underline }}
        <p class="copy-01">cta-text</p>
        {{> cta/cta-text cta-text-heading }}
        <p class="copy-01">cta-border</p>
        {{> cta/cta-border cta-border }}
        <p class="copy-01">cta-border add .white class</p>
        {{> cta/cta-border cta-border-white }}
        <p class="copy-01">cta-border with-icon</p>
        {{> cta/cta-border cta-border-with-icon }}
        <p class="copy-01">cta-border with-icon add .white class</p>
        {{> cta/cta-border cta-border-white-with-icon }}
        <p class="copy-01">cta-round</p>
        {{> cta/cta-round cta-round }}
        <p class="copy-01">cta-round-border</p>
        {{> cta/cta-round-border cta-round-border }}
      </div>
    </section>
    <section class="content-section">
      <h2 class="heading-02">Card</h2>
      <div class="content-inner-section">
        <p class="copy-01">card img</p>
        {{> general/card cardInfo }}
        <p class="copy-01">card video</p>
        {{> general/card cardVideo }}
        <p class="copy-01">card weather</p>
        {{> general/card-weather cardWeather }}
        <p class="copy-01">card video</p>
        {{> general/card-video videoInfo }}
      </div>

    </section>
    <section class="content-section">
      <h2 class="heading-02">Icons</h2>
      <div class="content-inner-section">
        <div class="icons">
          {{#each icons}}
            <div class="icon-wrapper">
              {{> general/icon name=this }}
              <code>{{this}}</code>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  </div>
</section>
