<link rel="stylesheet" href="./c21-contact-form.scss">
<script src="./C21ContactForm.ts"></script>

<section id="{{id}}" class="c21-contact-form" data-component="c21-contact-form" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <div class="content-wrapper">
      <nav class="form-navigation">
        <div>
        {{#each form}}
          <div><a href="{{href}}">{{copy}}</a></div>
        {{/each}}
        </div>
      </nav>
      <div class="form">
        {{> form/fields }}
      </div>
    </div>
  </div>
</section>
