<link rel="stylesheet" href="./c05-masonry-grid.scss">
<script src="./C05MasonryGrid.ts"></script>

<section id="{{id}}" class="c05-masonry-grid" data-component="c05-masonry-grid" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <div class="title-wrapper">
      {{> general/heading main-title class="heading-3 semi-bold highlight"}}
    </div>
    <div class="masonry-grid">
      {{#if copy}}
        <div class="copy-wrapper" data-transition-item>
          <div class="rich-text">
            {{{copy}}}
          </div>
        </div>
      {{/if}}
      <ul class="masonry-list" data-masonry-list>
        {{#each item}}
        <li class="grid-item" data-grid-item>
          <a href="{{href}}" title="{{title}}" class="link" data-transition-item>
            <div class="item-title-wrapper" data-transition-item>
              {{> general/heading solution-title class="heading-4 light item-title"}}
            </div>
            {{#if visual}}
            {{> general/picture visual class="visual-wrapper" data-attr="transition-item"}}
            {{/if}}
            {{#if video}}
              {{> general/video video class="video-wrapper" data="data-transition-item"}}
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
