<link rel="stylesheet" href="./c13-sectionpage-overview.scss">
<script src="./C13SectionpageOverview.ts"></script>

<section id="{{id}}" class="c13-sectionpage-overview" data-component="c13-sectionpage-overview" data-scroll-component data-endpoint="{{endpoint}}">
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <div class="total" data-cards-total>
          <span data-section-total></span> {{results}}
        </div>
        <div class="filter-wrapper" data-filter-wrapper></div>
        {{#if search-enabled}}
        <div class="search-wrapper">
          <input type="text" class="search-field" placeholder="{{placeholder}}">
          <button class="search-button" data-search-button>
            {{> general/icon name="search" }}
          </button>
        </div>
        {{/if}}
      </div>
      <div class="overview-wrapper" data-overview-wrapper>
        <div class="no-results-wrapper">
          {{{no-results-copy}}} <button class="reset-button" data-reset-button>{{reset-filters-copy}}</button>
        </div>
        <div class="items-container" data-items-container>
          <ol class="section-list" data-overview-list></ol>
        </div>
        <div class="loading-wrapper">
          <div class="icon-wrapper" data-spinner>
            {{> general/icon name="spinner" }}
          </div>
        </div>
      </div>
      <div class="cta-wrapper">
        {{> cta/cta-pill cta data-attr="load-more" }}
      </div>
    </div>
  </div>
</section>
