<link rel="stylesheet" href="./cta-text.scss">

<{{#if tag}}{{tag}}{{else}}a{{/if}} data-component="cta-text" class="cta-text {{#if heading}}heading {{heading }}{{/if}}{{#if class}}{{class }}{{/if}}{{#if with-icon}}with-icon{{/if}}">
  {{#if left-icon}}
    {{> general/icon name=left-icon }}
  {{/if}}
  <span class="cta-text-copy">{{copy}}</span>
  {{#if right-icon}}
    {{> general/icon name=right-icon }}
  {{/if}}
</{{#if tag}}{{tag}}{{else}}a{{/if}}>
