<link rel="stylesheet" href="./n02-footer-navigation.scss">
<script src="./N02FooterNavigation.ts"></script>

<footer class="n02-footer-navigation" data-component="n02-footer-navigation" data-scroll-component>
  <div class="block-wrapper">
    <div class="footer-links navigation-set" data-transition-item>
      <ul class="footer-links-list copy small">
        {{#if copyrights.label }}
        <li class="list-item" data-transition-item>
          ©<span data-copyright-year></span> {{ copyrights.label }}
        </li>
        {{/if}}
        {{#if privacy.link }}
        <li class="list-item" data-transition-item>
          <a href="{{privacy.link}}" class="link" title="{{copyrights.label}}">{{privacy.label}}</a>
        </li>
        {{/if}}
        {{#if language-selector}}
        <li class="list-item" class="link" data-transition-item>
          {{> general/language-selector class="link" }}
        </li>
        {{/if}}
      </ul>
    </div>
    <div class="social-media navigation-set" data-transition-item>
      {{#with social-media}}
      <div class="title-wrapper">
        <h5 class="title copy small grey" data-transition-item>{{title}}</h5>
      </div>
      {{> general/social-links }}
      {{/with}}
    </div>
  </div>
</footer>
